article {
  background-color: $sea;
  color: $grey;
  padding: rem-calc(20);
  margin-bottom: rem-calc(20);
  .ranking {
    width: 100%;
    text-align: center;
    p {
      color: $pink;
      border-bottom: rem-calc(5) solid $pink;
      padding-bottom: rem-calc(10);
      margin-top: 0;
      font-size: rem-calc(70);
      margin-bottom: rem-calc(20);
    }
  }
  .left { float: none; }
  input[type='number'] {
    width: rem-calc(70);
    font-size: rem-calc(20);
    text-align: center;
    width: 100%;
    margin-bottom: rem-calc(20);
  }
  img { width: 100%; }
}