article {
  background-color: $pink;
  color: $white;

  .ranking {
    float: left;
    width: 26%;
    p {
      color: $white;
      border-color: $white;
    }
  }

  .rank {
    float: none;
    width: auto;
  }

  img {
    width: 31%;
    margin-left: 5%;
    margin-top: rem-calc(5)
    }

  h4,
  h5,
  .attrlist {
    width: 60%;
  }

  .content {
    float: right;
    width: 74%;
  }
}
