h2 { color: $pink; }

input {
  font-family: $header-font-family;
  border: 0;
  display: block;
  margin-bottom: rem-calc(10);
  width: 100%;
  font-size: rem-calc(20);
}

label { display: block; }

body { font-size: rem-calc(18); }

a, input {
  background-color: $grey;
  color: $white;
  text-decoration: none;
  line-height: auto;
  &:hover {
    background-color: $pink;
    color: $white;
  }
  &:focus { outline: $black rem-calc(1) solid; }
  &:visited { opacity: 0.8; }
}

form {
  background-color: $lemon;
  padding: rem-calc(20);
  margin-bottom: rem-calc(20);
  input { margin-top: rem-calc(10); }
}

input[type='submit'] {
  font-size: rem-calc(20);
  cursor: pointer;
}

hr {
  border: none;
  height: rem-calc(1);
  background-color: $grey;
}
