body {
  font-family: $body-font-family;
  background-color: $white;
}

header {
  text-align: center;
  img {
    width: 100%;
    max-width: rem-calc(400);
  }
}


footer {
  padding-top: rem-calc(5);
  color: $grey;
  border-top: 1px solid $grey-dark;
}

#logo { background: none; }
